.sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.avatar {
  width: 32px;
  height: 32px;
}

.nav-link {
  transition: all 0.2s;
  border-left: 3px solid transparent;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white !important;
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.15);
    color: white !important;
    border-left-color: var(--bs-primary);
  }
}
