.card {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
}

.form-label {
  margin-bottom: 0.25rem;
}

.bg-purple {
  background-color: #6f42c1 !important;
}

.btn-purple {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #fff;

  &:hover {
    background-color: #5a32a3;
    border-color: #5a32a3;
    color: #fff;
  }
}
